/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
   padding-top: 50px;
   padding-bottom: 20px;
}

.invisibleUFO {
  color: #00A0B0;
}

.caribicBrown {
  color: #6A4A3C;
}

.caribicRed {
  color: #CC333F;
}

.caribicSun {
  color: #EB6841;
}

.caribicDaylight {
  color: #EDC951;
}

.navbar-brand {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Lilita One', cursive;
}

.logo {
  height: 25px;
}

players td.inOut {
  width: 150px;
}

players .table tbody tr td.name {
  vertical-align: middle;
}

games .table tbody tr td.name {
  vertical-align: middle;
}

games .table tbody tr td.controls {
  vertical-align: middle;
}

games .numPlayers text {
  color: black;
  font-size: 8px;
}

tabs .gamesByPlayerCount {
  margin-top: 20px;
}
